<section class="page-header page-header--menu">
  <div class="wrapper menu-header">
    <header class="section__header page-header__header">
      {% if menu.children? %}
        <ul class="anchor-items grid">
          {% for child in menu.children %}
            <li class="anchor-item grid-item small--one-half medium--one-quarter large--one-sixth">
              <a href="#menu-{{child.id}}" class="anchor-scroll">
                {{ child.main_image | custom_image_url: "100x100#" | image_tag: "class:anchor-image" }}
                <br>
                <p class="anchor-name">{{ child.name}}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>
    {% if menu.summary? %}
      <main class="section__main page-header__description">
        {{ menu.summary }}
      </main>
    {% endif %}
  </div>
</section>

{% if menu.children? %}
  {% for child in menu.children %}
    {% include 'menu' with menu:child, title:true %}
  {% endfor %}
{% else %}
  {% include 'menu' with menu:menu, title:true %}
{% endif %}