<section class="page-header page-header--news">
  <div class="wrapper news-header">
    <header class="section__header page-header__header">
     <h2 class="section__title section_title--news">
        <a class="all-news__news-link" href="{{ news.url }}">{{ news.title }}</a>
      </h2>
    </header>
    <main class="section__main page-header__description">
      {{ news.content }}
    </main>
  </div>
</section>
